<div class="auth-container">

  <div class="auth-card">

    <h2>Create Account</h2>

    <p>Register to continue</p>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <div class="form-group">

        <label>Full Name</label>

        <input type="text" formControlName="fullName" placeholder="Full Name">
        <small class="error" *ngFor="let msg of serverErrors['FullName']">{{ msg }}</small>

      </div>

      <div class="form-group">

        <label>Email</label>

        <input type="email" formControlName="email" placeholder="Email">
        <small class="error" *ngFor="let msg of serverErrors['Email']">{{ msg }}</small>

      </div>

      <div class="form-group">

        <label>Phone</label>

        <input type="text" formControlName="phone" placeholder="Phone Number">
        <small class="error" *ngFor="let msg of serverErrors['Phone']">{{ msg }}</small>

      </div>

      <div class="form-group">

        <label>Password</label>

        <input type="password" formControlName="password" placeholder="Password">
        <small class="error" *ngFor="let msg of serverErrors['Password']">{{ msg }}</small>

      </div>

      <button class="btn-primary" type="submit" [disabled]="isLoading">

        {{ isLoading ? 'Registering...' : 'Register' }}

      </button>

    </form>

    <div class="bottom-text">

      Already have an account?

      <a routerLink="/auth/login">

        Login

      </a>

    </div>

  </div>

</div>
